--allow-all-external
gunicorn==19.3.0
Flask==0.10.1
Werkzeug==0.10.4
Pillow==3.0.0
pytesseract==0.1.6
requests==2.7.0
psycopg2==2.6.1
boto==2.38.0
Flask-SQLAlchemy==2.1
SQLAlchemy==1.0.9
mstranslator==0.2.5