<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='WebSpeech.js') }}"></script>
    <script>
        function getUrlParameter(sParam) {
            var sPageURL = decodeURIComponent(window.location.search.substring(1)),
                sURLVariables = sPageURL.split('&'),
                sParameterName,
                i;

            for (i = 0; i < sURLVariables.length; i++) {
                sParameterName = sURLVariables[i].split('=');

                if (sParameterName[0] === sParam) {
                    return sParameterName[1] === undefined ? true : sParameterName[1];
                }
            }
        }
        $(document).ready(function(){
            var id = getUrlParameter('id');
            var text = getUrlParameter('text');
            WebSpeech.ready(function() {
                WebSpeech.server = 'http://120.24.87.124/cgi-bin/ekho2.pl';
                WebSpeech.setVoice('EkhoCantonese');
                //WebSpeech.speak(text);
                WebSpeech.saveMp3(text);
                //console.log(JSON.stringify(url));
            });
        });

    </script>
</head>
<body>

</body>
</html>